moviepy
nltk
transformers
optimum 
accelerate

scikit-learn
llvmlite
setuptools==58.2.0
imageio
# LIHQ
opencv-contrib-python>=4.2.0.34 #Wav2Lip
tb-nightly #GFPGAN
yapf #GFPGAN
basicsr>=1.3.4.0 #GFPGAN        ############
facexlib>=0.2.0.3 #GFPGAN       ############
addict #GFPGAN
PyYAML==5.1 #FOMM
pydub
ffmpeg
imageio_ffmpeg
ffmpeg-python

librosa==0.9.1 #for mel positional argument error

# Real-ESRGAN
basicsr>=1.4.2

facexlib>=0.2.5
gfpgan>=1.3.5
numpy
opencv-python
Pillow
torch>=1.7
torchvision
tqdm



########################################Already Installed in colab
# tensorboard==2.3.0 #VITS
# pandas #FOMM
# scikit-learn==0.19.2 #FOMM
# python-dateutil==2.7.3 #FOMM
# numba==0.48 #Wav2Lip
# Cython==0.29.21 #VITS
# imageio==2.3.0 #FOMM
# pytz==2018.5 #FOMM
# drive
# dlib 